@import '../../../theme/variables.scss';

ion-card {
    color: $black;
    margin: $margin;
    
    ion-card-subtitle {
        color: $black;
        text-transform: uppercase;
        font-size: $size-base;
    }
    ion-card-content {
        ion-item {
            --padding-start: 0px;
            --padding-end: 0px;

            &.body-container {
                ion-label {
                    margin: 0px;
                    margin-top: $size-base;
                }
            }
            p {
                font-size: calc($size-base - 1px);
                line-height: $size-base-medium;

                &:not(:last-child) {
                    margin-bottom: $margin-sm;
                }

                .title {
                    color: $gray-400;
                }
            }
        }
    }
}