<ion-content [fullscreen]="true" class="login-wrapper">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="text-center" color="success">Forgot password</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <form [formGroup]="forgotPasswordForm">
          <ion-item>
            <ion-input 
              type="email" 
              label="Email" 
              labelPlacement="floating" 
              placeholder="Email address"
              formControlName="email"
            ></ion-input>
          </ion-item>

          <app-error-msg [field]="forgotPasswordForm.get('email')" [message]="'Email is required.'" [error]="'required'"></app-error-msg>
          <app-error-msg [field]="forgotPasswordForm.get('email')" [message]="'Invalid email format.'" [error]="'email'"></app-error-msg>
  
          <ion-item>
            <ion-input 
              type="password" 
              label="Password" 
              labelPlacement="floating" 
              placeholder="Password"
              formControlName="password"
            ></ion-input>
          </ion-item>

          <app-error-msg [field]="forgotPasswordForm.get('password')" [message]="'Password is required.'" [error]="'required'"></app-error-msg>

          <ion-item>
            <ion-input 
              type="password" 
              label="Confirm password" 
              labelPlacement="floating" 
              placeholder="Confirm password"
              formControlName="confirmPassword"
            ></ion-input>
          </ion-item>
          <app-error-msg [field]="forgotPasswordForm.get('confirmPassword')" [message]="'Password is required.'" [error]="'required'"></app-error-msg>
          <app-error-msg [field]="forgotPasswordForm.get('confirmPassword')" [message]="'Passwords do not match.'" [error]="'passwordMismatch'"></app-error-msg>
          
        </form>

        <ion-button 
          (click)="forgotPassword()" 
          class="btn btn-brand" 
          size="full" 
          [disabled]="!forgotPasswordForm.valid"
        >
          Set new password
        </ion-button>
        <ion-button 
          routerLink="/login" 
          class="btn btn-bg-none btn-text-brand" 
          size="full"
        >
          Login
        </ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
