// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

$white: #fff;
$black: #000;
$black-200: #a5a2a2;

$gray-100: #ddd;
$color-brand-primary: #2dd55b;

$size-base: 16px;
$size-base-medium: calc($size-base + 4px);
$size-medium: calc($size-base + 6px);
$size-large: calc($size-medium + 6px);

// $padding: 10px;
$padding: calc($size-base - 6px);

// $margin: 16px;
$margin: $size-base;
$margin-sm: calc($size-base - 6px);  // $margin: 10px;

$radius-small: 4px;
$radius : 6px;
