@import '../../../theme/variables.scss';

ion-content.login-wrapper {
    --background: $color-brand-primary;
    background: $color-brand-primary;

    .flex-center {
        width: 100%;

        ion-card {
            width: 100%;

            ion-item {
                margin-bottom: 10px;
                margin-left: -$size-base;
            }

            ion-card-content {
                padding-bottom: 5px;
            }
        }
    }
}