<ion-content [fullscreen]="true" class="login-wrapper">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="text-center" color="success">Reciclica</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <form [formGroup]="loginForm">
          <ion-item>
            <ion-input 
              type="email" 
              label="Email" 
              labelPlacement="floating" 
              placeholder="Email address"
              formControlName="email"
            ></ion-input>
          </ion-item>

          <app-error-msg [field]="loginForm.get('email')" [message]="'Email is required.'" [error]="'required'"></app-error-msg>
          <app-error-msg [field]="loginForm.get('email')" [message]="'Invalid email format.'" [error]="'email'"></app-error-msg>
  
          <ion-item>
            <ion-input 
              type="password" 
              label="Password" 
              labelPlacement="floating" 
              placeholder="Password"
              formControlName="password"
            ></ion-input>
          </ion-item>

          <app-error-msg [field]="loginForm.get('password')" [message]="'Password is required.'" [error]="'required'"></app-error-msg>
         
        </form>

        <ion-button 
          class="btn btn-bg-none btn-text-gray font-sm" 
          fill="clear" 
          size="full"
          routerLink="/forgot-password"
        >
          Forgot email / password
        </ion-button>
        <ion-button (click)="login()" class="btn btn-brand" size="full" [disabled]="!loginForm.valid">Login</ion-button>
        <ion-button routerLink="/register" class="btn btn-bg-none btn-text-brand" size="full">Register</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
