@import '../../../theme/variables.scss';

ion-header ion-toolbar {
    --background: #{$color-brand-primary};
    --opacity: 1;
    color: $white;
    padding: $padding;
}

ion-content.register-wrapper {
    --background: #{$color-brand-primary};

    ion-card {
        margin: $margin;

        ion-card-header {
            ion-card-title {
                font-size: $size-medium;
            }
        }

        ion-item {
            --padding-start: 0px;
        }

        ion-card-content.input-wrapper {
            ion-item:not(:last-child) {
                margin-bottom: $margin-sm;
            }
        }
    }

    ion-radio {
        --border-radius: #{$radius-small};
        --inner-border-radius: #{$radius-small};
    
        --color: #{$gray-100};
        --color-checked: #{$color-brand-primary};
    }
    
    ion-radio.ios::part(container) {
        width: $size-base-medium;
        height: $size-base-medium;
    
        border: 2px solid #{$gray-100};
        border-radius: $radius-small;
    }
    
    .radio-checked.ios::part(container) {
        border-color: $color-brand-primary;
    }
    
    .btn-white {
        margin: $margin;
    }
}