<app-header [hasBack]="true" [title]="'Pickup Call'"></app-header>

<ion-content [fullscreen]="true"> 
  <img src="assets/images/google-map.png" alt="Google Map" />

  <ion-card>
    <ion-card-content>
      <p>Address: fake street, 112</p>
      <p>complement: Apto 774</p>
      <p>Neighborhood: Neighborhood</p>
      <p>Zip code: 123456</p>
      <p>City name : state</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item lines="inset">
      <ion-textarea label="Note" labelPlacement="floating" placeholder="Note..."  [autoGrow]="true"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button (click)="newPickUpCall()" class="btn btn-brand" size="full">Create pickup call</ion-button>

</ion-content>
