@import '../../../theme/variables.scss';

ion-header ion-toolbar {
    --background: #{$color-brand-primary};
    --opacity: 1;
    color: $white;
    padding: $padding;

    ion-menu-button {
        color: $white;
    }
}

ion-content {
    p {
        color: inherit;
        font-size: $size-base;
    }
    
    .btn {
        margin: $margin;
    }
}