@import '../../../theme/variables.scss';

ion-content.home-wrapper {
    ion-list {
        padding: 0;
        background: $color-brand-primary;
        box-shadow: 0 1px 2px 1px rgb(0 0 0 / 20%);

        ion-item {
            --background: #{$color-brand-primary};
            padding: $padding;
            color: $white;

            ion-avatar {
                margin-right: $margin;
            }

            ion-label {
                color: $white;

                p {
                    color: inherit;
                    font-size: $size-base;
                }

                .money {
                    font-weight: bold;
                    color: inherit;
                }
            }
        }
    }
    
    ion-fab {
        ion-fab-button {
            --background: #{$color-brand-primary} ;
            --background-activated: #{$color-brand-primary};
            --background-focused: #{$color-brand-primary};
            --background-hover: #{$color-brand-primary};
            color: $white;
        }
    }
}
