/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


@import './theme/variables.scss';

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.font-md {
    font-size: $size-medium;
}

.font-lg {
    font-size: $size-large;
}

.text-center {
    text-align: center;
}
.text-brand {
    color: $color-brand-primary;
}
.error-text {
    color: $color-red !important;
}
.pb-0 {
    padding-bottom: 0px;
}
.pb-12 {
    padding-bottom: 12px;
}
.m-0 {
    margin: 0px;
}

.btn {
    font-size: calc($size-base + 2px);
    font-weight: 500;
    border-radius: $radius;

    &.font-sm {
        font-size: calc($size-base);
    }
    
    &.btn-brand {
        --background: $color-brand-primary ;
        --background-activated: $color-brand-primary;
        --background-focused: $color-brand-primary;
        --background-hover: $color-brand-primary;
        background: $color-brand-primary;
        color: $white;
    }
    &.btn-bg-none {
        --background: transparent ;
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover: transparent;
        background: transparent;
    }
    &.btn-text-brand {
        color: $color-brand-primary;
    }
    &.btn-text-gray {
        color: $black-200;
    }
    &.btn-white {
        --background: $white ;
        --background-activated: $white;
        --background-focused: $white;
        --background-hover: $white;
        background: $white;
        color: $color-brand-primary;
    }
}

ion-card {
    ion-card-header {
        ion-card-title {
        }
    }
}